  h1 {
        font-family: "Arvo", serif;
      margin-top: 20px;
    font-weight:bolder

}

 h2 {
        font-family: "Arvo", serif;
     

  
}

 h3 {
        font-family: "Arvo", serif;
     margin-top: 20px;
    margin-bottom: 20px
}

p{
font-family: "Arvo", serif;
    margin-top: 20px;
    margin-bottom: 100px
}