@media {

h1 {
    font-family: "Arvo", serif;
    font-size: 50px;
    margin-bottom: 20px
}

h2 {
    font-family: "Arvo", serif;
    margin-bottom: 20px
}

contact.button{
     font-family: "Arvo", serif;

}

img {
    width:100%;
    border: 3px solid black;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 20px;

}

#navigation {
    background-color:darkseagreen;
    text-align: center
}

.jobtitle{
    font-weight:bold;
    text-transform: uppercase;
   
}
}
@media (min-width: 576px) {
    h1 {
        font-size: 120px;
    }
    
}

